body {
  font-family: Roboto;
  padding: 16px;
}

div {
  margin: 0 0 32px 0;
}

.input1 {
  padding: 8px;
  border: 0.5px solid rgb(175, 175, 175);
  border-radius: 6px;
}

.input2 {
  padding: 8px;
  font-size: 12px;
  width: 320px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.Email {
  margin: 0 0 4px 0;
}

.div3 p {
  font-size: 10px;
  color: rgb(100, 100, 100);
}

.input3 {
  width: 240px;
}

.div3 button {
  width: 250px;
  border: none;
  border-radius: 32px;
  margin: 4px 0 0 0;
  padding: 10px 0;
  background-color: rgb(50, 100, 200);
  color: rgb(250, 250, 250);
  cursor: pointer;
}

.div4 img {
  width: 32px;
  border-radius: 16px;
  vertical-align: middle;
}

.input4 {
  border: none;
  padding: 8px;
  border-radius: 32px;
  width: 160px;
  font-size: 10px;
}

.div4 button {
  border: none;
  border-radius: 32px;
  margin: 4px 0 0 0;
  padding: 5px 10px;
  background-color: rgb(50, 150, 225);
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}